.content {
  &__intro {
    margin: 64px 0px;
    padding-left: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60rem;

    &--details {
      flex: 1 1 50%;
      align-self: baseline;
      margin-top: 4rem;
    }

    &--image {
      flex: 1 1 50%;
    }
    &--title {
      font-size: 4.2rem;
      font-weight: 500;
      margin: unset;
      span {
        display: block;
        font-size: inherit;
        font-weight: inherit;
        margin-top: -20px;
      }
    }
    &--description {
      font-size: 1.6rem;
      color: var(--color-secondary-grayblue);
      margin: 24px 0px;
    }

    &--buttons {
      display: flex;
      gap: 16px;

      .btn {
        min-width: unset;
        width: 180px;
        font-weight: normal;

        &:first-child {
          background-color: var(--color-primary-blue);
          color: white;
        }
      }
    }

    &--design {
      height: 380px;
      width: 500px;
      margin-left: auto;
      background-color: var(--color-primary-blue);
      border-bottom-left-radius: 160px;

      &--svg {
        position: absolute;
        top: -30%;
        right: 8%;
      }
    }
  }
}
