@use "../Base/" as *;
.content {
  &__intro {
    margin: 64px 0px;
    padding-left: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60rem;

    @include media("<=1100px") {
      flex-direction: column-reverse;
    }

    @include media("<=tablet") {
      padding-left: unset;
    }

    &--details {
      flex: 1 1 50%;
      align-self: baseline;
      margin-top: 7rem;

      @include media("<=1100px") {
        text-align: center;
        width: 100%;
      }

      @include media("<=tablet") {
        padding: 16px;
      }
    }

    &--image {
      position: relative;
      flex: 1 1 50%;
      @include media("<=1100px") {
        width: 100%;
      }

      img {
        position: absolute;
        top: -20%;
        right: 20%;

        @include media("<=tablet") {
          right: unset;
        }
      }

      .bg {
        height: 40rem;
        width: 500px;
        background-color: var(--color-primary-blue);
        top: 150px;
        z-index: -1;
        right: 0;
        border-radius: 150px 0 0 150px;
        margin-left: auto;

        @include media("<=1300px") {
          height: 35rem;
        }

        @include media("<=tablet") {
          width: 80%;
        }

        @include media("<=500px") {
          height: 250px;
        }
      }
    }

    &--title {
      font-size: 4.2rem;
      font-weight: 500;
      margin: unset;
      line-height: 1.2;
      span {
        display: block;
        font-size: inherit;
        font-weight: inherit;
        margin-top: -20px;
      }
    }

    &--description {
      font-size: 1.6rem;
      color: var(--color-secondary-grayblue);
      margin: 24px 0px;
    }

    &--buttons {
      display: flex;
      gap: 16px;
      margin-top: 32px;
      @include media("<=1100px") {
        justify-content: center;
      }

      .btn {
        min-width: unset;
        width: 180px;
        font-weight: normal;

        &:first-child {
          background-color: var(--color-primary-blue);
          color: white;
        }
      }
    }
  }

  &__features {
    min-height: 40rem;

    @include media("<=tablet") {
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
    }

    .content__header {
      text-align: center;

      &--title {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 16px;
      }

      &--description {
        color: var(--color-secondary-grayblue);
      }
    }

    &--tabs {
      justify-content: center;
      margin-top: 24px;

      @include media("<=tablet") {
        flex-direction: column;
      }

      li {
        padding: 24px 32px;
        color: var(--color-secondary-grayblue);
        border-bottom: 1px solid var(--color-secondary-grayblue);
        font-weight: 500;

        @include media("<=tablet") {
          width: 100%;
          position: relative;
        }

        &:hover {
          color: var(--color-primary-red);
        }

        &.active {
          color: var(--color-secondary-darkblue);
          border-bottom: 3px solid var(--color-primary-red);

          @include media("<=tablet") {
            border-bottom: 1px solid var(--color-secondary-grayblue);
          }

          &::after {
            content: "";
            height: 4px;
            width: 200px;
            position: absolute;
            bottom: 0;
            background-color: var(--color-primary-red);
            margin: 0 auto;
            left: 0;
            right: 0;
            display: none;

            @include media("<=tablet") {
              display: inline-block;
            }
          }
        }
      }
    }

    &--bookmarkTab {
      display: flex;
      justify-content: space-between;
      padding: 15rem 0px;

      @include media("<=1100px") {
        flex-direction: column;
      }

      .bookmarkTab__image {
        flex: 1 1 70%;
        position: relative;

        @include media("<=tablet") {
          width: 100%;
          flex: unset;
        }

        img {
          position: absolute;
          top: -20%;

          @include media("<=tablet") {
            left: 2%;
          }

          @include media("<=500px") {
            left: 3%;
          }

          &.bookmark {
            left: 20%;

            @include media("<=tablet") {
              left: 3%;
              max-width: -webkit-fill-available;
            }
          }

          &.searching {
            left: 35%;
            @include media("<=tablet") {
              left: 3%;
              max-width: -webkit-fill-available;
            }
          }
          &.sharing {
            left: 35%;
            @include media("<=tablet") {
              left: 3%;
              max-width: -webkit-fill-available;
            }
          }
        }

        .bg {
          height: 40rem;
          width: 500px;
          background-color: var(--color-primary-blue);
          top: 150px;
          z-index: -1;
          right: 0;
          border-radius: 0px 150px 150px 0;
          margin-right: auto;

          @include media("<=tablet") {
            width: 70%;
          }

          @include media(">=desktop") {
            width: 600px;
          }

          @include media("<=500px") {
            height: 280px;
          }
        }
      }

      .bookmarkTab__details {
        flex: 1 1 30%;

        @include media("<=1100px") {
          text-align: center;
          margin-top: 5rem;
        }

        &--title {
          font-size: 3.2rem;
          font-weight: 500;
        }

        &--description {
          color: var(--color-secondary-grayblue);
          margin: 24px 0px;
        }

        .btn {
          background-color: var(--color-primary-blue);
          color: white;
          @include media("<=1100px") {
            margin: auto;
          }
        }
      }
    }
  }

  &__extensions {
    margin: 64px 0px;

    @include media("<=tablet") {
      margin: 16px 0px;
      padding: 16px;
    }
    &--header {
      text-align: center;
      &--title {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 16px;
      }

      &--description {
        color: var(--color-secondary-grayblue);
      }
    }

    .cards__container {
      display: flex;
      gap: 32px;
      padding: 64px 0px;
      justify-content: center;
      flex-wrap: wrap;

      @include media("<=tablet") {
        flex-direction: column;
        padding: 24px;
        align-items: center;
      }

      .extension__card {
        position: relative;
        max-width: 220px;
        min-height: 300px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

        @include media("<=tablet") {
          max-width: unset;
          width: 100%;
        }
        &.firefox {
          top: 30px;
        }
        &.opera {
          top: 60px;
        }
        &--header {
          height: 100px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &--body {
          text-align: center;
          margin: 24px 0px;
          &--title {
            font-weight: 500;
          }

          &--subtitle {
            font-size: 1.4rem;
            color: var(--color-secondary-grayblue);
            margin-bottom: 16px;
          }
        }

        &--footer {
          display: flex;
          justify-content: center;
          align-items: center;

          .btn {
            background-color: var(--color-primary-blue);
            color: white;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  &__questions {
    margin: 72px 0px;
    padding: 64px 0px;

    &--header {
      text-align: center;
      &--title {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 16px;
      }

      &--description {
        color: var(--color-secondary-grayblue);
      }
    }

    &--accordian {
      margin: 48px 0px;
    }

    &--button {
      .btn {
        background-color: var(--color-primary-blue);
        color: white;
        margin: auto;
      }
    }
  }

  &__support {
    min-height: 300px;
    width: 100%;
    background-color: var(--color-primary-blue);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--title {
      color: white;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &--subTitle {
      color: white;
      font-size: 2.4rem;
      line-height: 1.2;
      margin: 24px 0px;
    }

    &--contact {
      display: flex;
      max-width: 400px;
      gap: 16px;

      @include media("<=tablet") {
        flex-direction: column;
      }

      .input__wrapper {
        position: relative;

        &.error {
          border: 2px solid var(--color-primary-red);
          border-radius: 5px;
          background-color: var(--color-primary-red);
        }

        input {
          border-radius: 5px;
          border: none;
          outline: none;
          min-width: 250px;
          padding: 0px 16px;
          min-height: 45px;

          &::placeholder {
            color: var(--color-secondary-grayblue);
          }

          @include media("<=tablet") {
            min-height: 50px;
          }
        }

        span {
          font-size: 1.4rem;
          font-weight: 500;
          color: white;

          @include media("<=tablet") {
            display: block;
          }
        }

        img {
          position: absolute;
          right: 5px;
          top: 14px;
        }
      }

      .btn {
        min-width: 150px;
        background-color: var(--color-primary-red);
        color: white;
        border-radius: 5px;

        &:hover {
          background-color: white;
          color: var(--color-primary-red);
          border: 3px solid var(--color-primary-red);
        }
      }
    }
  }
}
