@use "../Base/" as *;
.footer {
  min-height: 80px;
  width: 100%;
  background-color: var(--color-secondary-darkblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 72px;

  @include media("<=tablet") {
    flex-direction: column;
    min-height: 300px;
    justify-content: space-evenly;
  }

  &__list {
    @include media("<=tablet") {
      flex-direction: column;
      text-align: center;
    }
    li {
      color: white;
      margin: 0px 16px;

      @include media("<=tablet") {
        margin: 16px auto;
      }
      &:not(:first-child) {
        align-self: baseline;
        &:hover {
          color: var(--color-primary-red);
        }
      }

      svg path {
        fill: white;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    svg {
      height: 25px;
      width: 25px;

      &:hover {
        path {
          fill: var(--color-primary-red);
        }
      }
    }
  }
}
