@use "../Base/" as *;
.header {
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.close {
    display: none;
    @include media(">tablet") {
      display: flex;
    }
  }

  @include media("<desktop") {
    padding: 24px 32px;
  }

  &__logo {
    align-self: center;
  }

  nav {
    @include media(">phone", "<=tablet") {
      display: none;
    }
  }

  li {
    padding: 0px 16px;
    text-transform: uppercase;

    &:hover {
      color: var(--color-primary-red);
    }
  }

  .header__menu {
    display: none;
    @include media("<=tablet") {
      display: block;
    }
  }

  .btn {
    min-width: 150px;
    background-color: var(--color-primary-red);
    color: white;
    text-transform: uppercase;
    &:hover {
      color: var(--color-primary-red);
      background-color: white;
      border: 2px solid var(--color-primary-red);
    }
  }

  &__sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(37, 43, 70, 0.8);
    flex-direction: column;
    padding: 16px;
    display: none;

    &.open {
      display: flex;
      @include media(">tablet") {
        display: none;
      }
    }

    &--menu {
      display: flex;
      justify-content: space-between;
      padding: 24px;
      svg g circle {
        fill: white;
      }
      svg g {
        fill: var(--color-primary-red);
      }
    }
    &--list {
      flex-direction: column;
      text-align: center;
      // padding: 24px;
      li {
        color: white;
        width: 100%;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 16px 0px;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-secondary-grayblue);
        }

        .btn {
          width: 100%;
          background-color: transparent;
          border: 2px solid white;
          text-transform: uppercase;
          margin-top: 16px;
        }
      }
    }

    &--icons {
      flex-grow: 1;
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
